<div class="container">
    <mat-toolbar class="custom-toolbar">
        <button mat-button aria-label="example icon-button with menu icon" [matMenuTriggerFor]="menuUsuario">
            <mat-icon> menu </mat-icon>Usuarios
        </button>

        <button mat-button aria-label="example icon-button with menu icon" [matMenuTriggerFor]="menuOperacion">
            <mat-icon> menu </mat-icon>Operacion
        </button>

        <button mat-button aria-label="example icon-button with menu icon" [matMenuTriggerFor]="menuBalance">
            <mat-icon> menu </mat-icon>Balance
        </button>

        <button mat-button aria-label="example icon-button with menu icon" [matMenuTriggerFor]="menuAhorro">
            <mat-icon> menu </mat-icon>Ahorro
        </button>

        <button mat-button aria-label="example icon-button with menu icon" [matMenuTriggerFor]="menuRecurso">
            <mat-icon> menu </mat-icon>recurso
        </button>

        <button mat-button aria-label="example icon-button with menu icon" [matMenuTriggerFor]="menuImpuesto">
            <mat-icon> menu </mat-icon>impuesto
        </button>

        <button mat-button aria-label="example icon-button with menu icon" [matMenuTriggerFor]="menuImpuestooperacion">
            <mat-icon> menu </mat-icon>impuesto-operacion
        </button>
        
    </mat-toolbar>

    <mat-menu #menuUsuario="matMenu">
        <button mat-menu-item routerLink="/app/usuariolistar">Listar Usuarios</button>
        <button mat-menu-item routerLink="/usuarios/nuevo">Registrarse</button>
        <button mat-menu-item routerLink="/usuarios/buscar">Buscar Usuario</button>
    </mat-menu>

    <mat-menu #menuOperacion="matMenu">
        <button mat-menu-item routerLink="/app/operacion">Listar Operación</button>
        <button mat-menu-item routerLink="/app/operacion/nuevo">Registrar Operación</button>
    </mat-menu>

    <mat-menu #menuBalance="matMenu">
        <button mat-menu-item routerLink="/app/balance">Listar Balance</button>
        <button mat-menu-item routerLink="/app/balance/nuevo">Registrar Balance</button>
    </mat-menu>
    <mat-menu #menuAhorro="matMenu">
        <button mat-menu-item routerLink="/app/ahorro">Listar Ahorro</button>
        <button mat-menu-item routerLink="/app/ahorro/nuevo">Registrar Ahorro</button>
    </mat-menu>
    <mat-menu #menuRecurso="matMenu">
        <button mat-menu-item routerLink="/app/recurso">Listar recursos</button>
        <button mat-menu-item routerLink="/app/recurso/nuevo">Registrar recurso</button>
    </mat-menu>
    <mat-menu #menuImpuesto="matMenu">
        <button mat-menu-item routerLink="/app/impuesto">Listar impuestos</button>
        <button mat-menu-item routerLink="/app/impuesto/nuevo">Registrar impuestos</button>
    </mat-menu>
    <mat-menu #menuImpuestooperacion="matMenu">
        <button mat-menu-item routerLink="/app/impuesto-operacion">Listar impuestos-operacion</button>
        <button mat-menu-item routerLink="/app/impuesto-operacion/nuevo">Registrar impuestos-operacion</button>
    </mat-menu>
</div>
<router-outlet></router-outlet>
