.form-container {
    display: flex;
    gap: 12px;
    margin-bottom: 20px;
    align-items: center;
}

.btn-buscar {
    background-color: #ff7f32;
    color: white;
    padding: 10px 18px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.btn-buscar:hover {
    background-color: #e86e29;
}

.mensaje {
    color: #d9534f;
    margin-bottom: 15px;
}