/* --- Botones dentro de la tabla (matButton) --- */
button[matButton] {
  font-size: 0.8rem;
  font-weight: 500;
  border-radius: 6px;
  padding: 4px 12px;
  color: rgb(238, 244, 241);
  text-transform: none;
  transition: all 0.25s ease;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  background-color: #FF8343;
  border: 1px solid #FF8343;
}

/* --- Botones icono (mat-icon-button) --- */
button[mat-icon-button] {
  background-color: #FF8343;
  color: white;
  border-radius: 6px;
  transition: 0.25s ease;
}

button[mat-icon-button]:hover {
  background-color: rgb(220, 40, 30);
}

/* --- Responsivo --- */
@media (max-width: 768px) {
  button[matButton] {
    font-size: 0.7rem;
    padding: 3px 8px;
  }

  button[mat-icon-button] {
    transform: scale(0.85);
  }
}


