<div class="container">
  <div style="text-align: center; margin: 5%">
    <h2>{{tituloPagina}}</h2>
  </div>

  <div style="text-align: center; margin: 5%">
    <form [formGroup]="form" (submit)="aceptar()">

      <ng-container *ngIf="edicion">
        <mat-form-field>
          <mat-label>ID</mat-label>
          <input matInput formControlName="codigo" />
        </mat-form-field>
      </ng-container>

      <mat-form-field appearance="fill">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="nombre" (input)="limitarLongitud('nombre', 20)">
        <mat-error *ngIf="form.get('nombre')?.hasError('required')">
          El nombre es obligatorio
        </mat-error>
        <mat-error *ngIf="form.get('nombre')?.hasError('maxlength')">
          Máximo 20 caracteres
        </mat-error>
      </mat-form-field>

      <br />

      <mat-form-field appearance="fill">
        <mat-label>Correo</mat-label>
        <input matInput formControlName="correo">
        <mat-error *ngIf="form.get('correo')?.hasError('required')">
          El correo es obligatorio
        </mat-error>
        <mat-error *ngIf="form.get('correo')?.hasError('email')">
          Formato de correo inválido
        </mat-error>
      </mat-form-field>

      <br />
      <ng-container *ngIf="!edicion">
        <mat-form-field appearance="fill">
          <mat-label>Contraseña</mat-label>
          <input matInput formControlName="contrasenia" type="password" />
          <mat-error *ngIf="form.get('contrasenia')?.hasError('required')">
            La contraseña es obligatoria
          </mat-error>
          <mat-error *ngIf="form.get('contrasenia')?.hasError('minlength')">
            La contraseña debe tener 10 caracteres o mas
          </mat-error>
        </mat-form-field>
      </ng-container>
      <br />

      <div>
        <button mat-raised-button color="primary">
          {{ edicion ? 'Actualizar' : 'Registrar' }}
        </button>

      </div>
    </form>
  </div>
</div>