.chart-container {
    width: 500px;     /* Ajusta el ancho del gráfico */
    margin: 0 auto;
  }
  
  .chart-container canvas {
    max-width: 100% !important;
    max-height: 330px !important;  /* Reduce la altura *//* Escala más pequeño */
  }
  